{% extends "index.html" %}
{% block title %}- ABOUT{% endblock %}

{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-half-desktop">
    <div id="content">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                <article class="tile is-child notification" style="background-color: #c79d74;">
                    <h1 class="font1" style="font-size: 40px; height: 40px;">WHO</h1>
                    <p class="subtitle" style="color: white; padding-left: 5px; font-size: 25px; 
                    margin-bottom: 15px;">WE ARE</p>
                    Lomomanila is not just a group, but a community. Loose as it maybe, but a common denominator exist.
                    <br><br>
                    A non-profit and non-commercial association of film photographers with the desire to explore the creative possibilities of analog film.
                </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification" style="background-color: #879BA6;">
                    <h1 class="font1" style="font-size: 40px; height: 40px;">WHAT</h1>
                    <p class="subtitle" style="color: white; padding-left: 5px; font-size: 30px; 
                    margin-bottom: 15px;">WE DO</p>
                        We are all different but we are here to appreciate everyone, to collaborate for the time being and see how we can have fun 
                        with our cameras.                  
                </article>
            </div>
            </div>
            <div class="tile is-parent">
            <article class="tile is-child notification" style="background-color: #7A3934;">
                <h1 class="font1" style="font-size: 40px; height: 40px;">WHY</h1>
                <p class="subtitle" style="color: white; padding-left: 5px; font-size: 20px; 
                margin-bottom: 15px;">WE DO IT</p>
                <p style="color: rgb(192, 191, 191);">
                    We believe photography should be shared, and people all have their
                    way of shooting. <br><br> It is Lomomanila's culture and more than anything else, collaboration. 
                </p>
            </article>
        </div>
    </div>
</div></div></div>
{% endblock %}