{% extends "index.html" %}
{% block title %} - LOGIN{% endblock %}

{% block content %}
<div class="columns is-mobile is-centered" style="margin-top: 50px;">
        <div class="column">
        <div id="content">
            <section class="hero">
                <div class="hero-body field">
                    <div class="columns" style="margin-right: 0;">
                        <div class="column is-6">
                            <h1 id="oops" class="font1 has-text-centered">OOPS.</h1>
                        </div>
                        <div class="column">
                            <p id="errorText" class="has-text-light font1 title">NOTHING TO SEE HERE.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
{% endblock %}