{% extends "base.html" %}
{% block title %} - HOME{% endblock %}

{% block content %}

<script>
    'use strict';
        document.addEventListener('DOMContentLoaded', function () {
        // Modals
        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-close, .delete, .modal-card-foot .button, .delete .esc');

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
                var target = $el.dataset.target;
                var $target = document.getElementById(target);
                rootEl.classList.add('is-clipped');
                $target.classList.add('is-active');
            });
            });
        }
        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
                closeModals();
            });
            });
        }
        document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
            closeModals();
            }
        });
        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
            });
        }
        // Functions
        function getAll(selector) {
            return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }
    });
</script>

<div class="container is-mobile is-centered" style="margin: 50px;">
    {% if logged == True %}
    <div class="notification is-warning">
        You are already logged in.
    </div>
{% endif %}
    <div class="columns is-centered">
        <div class="column is-3">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-square" >
                        {% if users.profile_picture %}    
                          <img src="/{{ users.profile_picture.picpath }}" alt="Update Avatar" >
                        {% else %}
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                        {% endif %}
                      </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                    
                      <div class="media-content">
                          <a href="/profile"><p class="title is-4 is-capitalized">{{ users.fname }} {{ users.lname }}</p></a>
                          <p class="subtitle is-6">/{{ users.username }}</p>
                      </div>
                    </div>
                    <br>
                      <div class="content">
                      {{ new.description }}<br><br>
                      IG: <a href="https://www.instagram.com/{{ users.ig }}" target="_blank" style="color: #7A3934;">@{{ users.ig }}</a>
                      <br>
                      </div>
                  </div>
              </div>
        </div>
        <div class="column is-8">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="notification is-info">
                      {{ messages[0] }}
                  </div>
              {% endif %}
            {% endwith %}

                <div class="box">
                <article class="media">
                    
                    <div class="media-content">
                        <div class="field">
                        <form action="/post" method="POST" enctype="multipart/form-data">
                          <p class="control">
                            <textarea class="textarea" placeholder="Lomo of the day.." name="userPost" style="margin-bottom: 20px;"></textarea>
                          </p>
                          <div class="columns">
                            <div class="column is-4">
                                <label class="custom-file-upload" style="color: grey;">
                                    <div class="columns">
                                      <div class="column is-1">
                                        <i class="fa fa-cloud-upload" style="font-size: 20px; padding: 5px 100px 0 0;"></i>
                                      </div>
                                      <div class="column">
                                        <input type="file" id="file-upload" name="lomoPhoto" />
                                      </div>
                                    </div>
                                </label>
                            </div>

                            <div class="column">
                              <div class="control">
                                  <input type="text" class="input is-small" name="cam" placeholder="Camera used">
                              </div>
                            </div>

                            <div class="column">
                              <div class="control">
                                  <input type="text" class="input is-small" name="film" placeholder="Film used">
                              </div>
                            </div>
                          </div>
                          <p class="control">
                              <button class="button1" style="margin-top: 0;">POST</button>
                          </p>
                        </form>
                        </div>
                    </div>
                </article>
              </div>
              {% if newPost == 0 %}
                <div class="is-info">
                    <p class="subtitle" style="color: white;">No posts yet. Post one now!</p>
                </div>
              {% else %}
                
                {% for userPost in newPost %}
              <div class="box">
                  
                <article class="media">
                  <figure class="media-left" style="margin-right: 50px;">
                    <p class="image is-96x96">
                      <a href="/profile/{{ userPost.users_id }}">
                      {% if users.profile_picture %}    
                        <img src="{{ userPost.pic.picpath }}" alt="Update Profile Picture">
                      {% else %}
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                      {% endif %}
                    </a>
                    </p>
                  </figure>
                  
                  <div class="media-content">
                    <div class="content">
                      <p class="is-capitalized subtitle">
                        <strong>{{ userPost.users.fname }} {{ userPost.users.lname }}</strong>
                        <br>
                        
                          <p class="subtitle">
                            {{ userPost.post }}<br>
                          </p>
                            
                          {{ userPost.filmCam }} , {{ userPost.filmRoll }}<br>
                          <time datetime="1-1-2016">{{ userPost.postDate }}</i></time><br><br>
                            <a class="is-primary is-large modal-button" data-target="{{ userPost.id }}">
                              <img src='{{ userPost.imagepath }}' style="max-height: 300px; width: auto;">
                            </a><br>

                            <div id="{{ userPost.id }}" class="modal">
                              <div class="modal-background"></div>
                              <div class="modal-content">
                                <p class="image">
                                  <img src="{{ userPost.imagepath }}" alt="{{ userPost.post }}">
                                </p>
                              </div>
                              <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                          
                            {% for comment in userPost.comments %}
                              <div class="columns">
                                <div class="column is-2">
                                    <p class="image is-48x48">
                                        <br>
                                        {% if users.profile_picture %}    
                                          <img src="{{ comment.user.profile_picture.picpath }}" alt="Avatar">
                                        {% else %}
                                          <img src="https://bulma.io/images/placeholders/256x256.png">
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="column">
                                    <br>{{ comment.comment }}<br><small>{{ comment.commentDate }}</small>
                                </div>
                                
                                {% if users.id == comment.user_id %}
                                  <div class="column media-right is-2"><br>
                                      <a href="/delete_comment/{{ users.user_comment.id }}">
                                          <i class="fa fa-trash" aria-hidden="true" ></i>
                                      </a>
                                  </div>
                                {% endif %}
                              </div>
                            {% endfor %}
                          
                          <hr>
                          <div class="columns">
                            <div class="column is-1">
                                <p class="image is-48x48">
                                    {% if users.profile_picture %}    
                                      <img src="/{{ users.profile_picture.picpath }}" alt="Update Profile Picture">
                                    {% else %}
                                      <img src="https://bulma.io/images/placeholders/256x256.png">
                                    {% endif %}
                                </p>
                            </div>
                            <div class="column">
                                <form action="/comment/{{ userPost.id }}" method="POST">
                                  <div class="control" style="margin: 20px;">
                                    <input type="hidden" value="{{ userPost.id }}" name="postID">
                                    <input type="text" class="input is-small" name="comment" placeholder="Say something.." required>
                                  </div>
                                  <nav class="level is-mobile">
                                    <div class="columns">
                                        <div class="column media-right">
                                            <button class="level-item" type="submit" aria-label="reply" style="border: none;">
                                                <span class="icon is-small">
                                                  <i class="fa fa-reply" aria-hidden="true"></i>
                                                </span>
                                              </button>
                                        </div>
                                      </form>
                                        <div class="column media-left">
                                          <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fa fa-heart" aria-hidden="true"></i>
                                            </span>
                                          </a>
                                        </div>
                                    </div>
                                  </nav>
                                
                            </div>
                          </div>
                        </p>
                        </div>
                      </div>
                      
                </article>
                
              </div>
              {% endfor %}
            </div>
              </div>
              
              {% endif %}
              </div>
        </div>
    </div>
  </div>
{% endblock %}