{% extends "base.html" %}
{% block title %}- PROFILE{% endblock %}

{% block content %}
<script>
    'use strict';
        document.addEventListener('DOMContentLoaded', function () {
        // Modals
        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-close, .delete, .modal-card-foot .button, .delete .esc');

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
                var target = $el.dataset.target;
                var $target = document.getElementById(target);
                rootEl.classList.add('is-clipped');
                $target.classList.add('is-active');
            });
            });
        }
        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
                closeModals();
            });
            });
        }
        document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
            closeModals();
            }
        });
        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
            });
        }
        // Functions
        function getAll(selector) {
            return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }
    });
</script>

<div class="container is-mobile is-centered" style="margin: 20px 50px;">
    <div class="columns is-centered">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        {% if users.profile_picture %}
                            {% if view == 1 %}
                                <img src="/{{ users.profile_picture.picpath }}" alt="Update Profile Picture" style="height: auto; max-width: 270px;">
                            {% else %}
                            <div class="con">
                                <a href="#" class="card-footer-item modal-button avatar img" data-target="modal-img" aria-haspopup="true">
                                    <img src="/{{ users.profile_picture.picpath }}" alt="Update Profile Picture" style="height: auto; max-width: 270px;"> 
                                </a>
                                <div class="middle">
                                    <div class="text">Update Avatar</div>
                                </div>
                            </div>
                            {% endif %}
                        {% else %}
                            <a href="#" class="card-footer-item modal-button avatar" data-target="modal-img2" aria-haspopup="true">
                                <img src="https://bulma.io/images/placeholders/256x256.png">
                            </a> 
                        {% endif %}
                    </figure>
<!-- MODAL CHANGE PROFILE PIC -->
                    <div id="modal-img" class="modal">
                        <div class="modal-background">
                            <div class="modal-card" style="margin-top: 150px;">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Update Profile Picture</p>
                                    <button class="delete esc" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="content">
                                        <form method="POST" action="/avatar/{{ users.profile_picture.id }}" enctype="multipart/form-data">

                                            <label class="label is-dark" style="font-size: 10px;">PROFILE PICTURE</label>
                                            <input class="is-light is-focused" type="file" name="profilePic" placeholder="">

                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button1" type="submit" name="submit">UPDATE</button>
                                    </form>
                                </footer>
                            </div>
                        </div>
                    </div>
<!-- MODAL CHANGE AVATAR -->
                    <div id="modal-img2" class="modal">
                        <div class="modal-background">
                            <div class="modal-card" style="margin-top: 150px;">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Update Profile Picture</p>
                                    <button class="delete esc" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="content">
                                        <form method="POST" action="/avatar" enctype="multipart/form-data">

                                            <label class="label is-dark" style="font-size: 10px;">PROFILE PICTURE</label>
                                            <input class="is-light is-focused" type="file" name="profilePic" placeholder="">

                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button1" type="submit" name="submit">UPDATE</button>
                                    </form>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 is-capitalized">
                                {{ users.fname }} {{ users.lname }}
                            </p>
                            <p class="subtitle is-6">
                                /{{ users.username }}
                            </p>
                        </div>
                    </div>
                
                    <div class="content">
                        IG: <a href="https://www.instagram.com/{{ users.ig }}" target="_blank" style="color: #7A3934;">@{{ users.ig }}</a>
                        <br>
                    </div>
                </div>
                {% if users %}
                    {% if not view %}
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item modal-button" data-target="modal-ter" aria-haspopup="true" style="color: #7A3934;">EDIT PROFILE</a>
                        
                            <a href="#" class="card-footer-item modal-button" data-target="modal-ter2" aria-haspopup="true" style="color: #7A3934;">SETTINGS</a>
                            
                        </footer>
                    {% endif %}
                {% endif %}
            </div>

<!-- MODAL EDIT PROFILE-->
<div id="modal-ter" class="modal">
        <div class="modal-background">
            <div class="modal-card" style="margin-top: 20px;">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit Profile</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="content">
                        <form method="POST" action="/update/{{ new.id }}" enctype="multipart/form-data">

                            <label class="label is-dark" style="font-size: 10px;">ABOUT YOURSELF</label>
                            <textarea class="textarea is-light is-focused" type="text" name="editDesc" placeholder="">{{ new.description }}</textarea>
                            <hr>
                            
                            <label class="label is-dark" style="font-size: 10px;">ALL TIME FILM CAMERA</label>
                            <input class="input is-light is-focused" style="width:20em;" type="text" name="editCam" value="{{ new.favecam }}">
                            <hr>
                            
                            <label class="label is-dark" style="font-size: 10px;">FAVORITE FILM ROLL</label>
                            <input class="input is-light is-focused" style="width:20em;" type="text" name="editRoll" value="{{ new.faveroll }}">
                            <hr>

                            <label class="label is-dark" style="font-size: 10px;">SHOOTS</label>
                            <input class="input is-light is-focused" style="width:20em;" type="text" name="editSub" value="{{ new.favesubject }}">
                            <hr>

                            <label class="label is-dark" style="font-size: 10px;">INSTAGRAM ACCOUNT</label>
                            <input class="input is-light is-focused" style="width:20em;" type="text" name="editIG" value="{{ users.ig }}">
                            
                    </div>
                </section>
                    <footer class="modal-card-foot">
                        <button class="button1" type="submit" name="submit">UPDATE</button>
                        </form>
                    </footer>
            </div>
        </div>
    </div>

    <!-- MODAL 2 SETTINGS -->
    <div id="modal-ter2" class="modal">
            <div class="modal-background">
                <div class="modal-card" style="margin-top: 20px;">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Update Information</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="content">
                            <form method="POST" action="/settings/{{ new.id }}">

                                <label class="label is-dark" style="font-size: 10px;">USERNAME</label>
                                <input class="input is-light is-focused" style="width:20em;" type="text" name="editusername" value="{{ users.username }}">
                                <hr>
                                
                                <label class="label is-dark" style="font-size: 10px;">FIRST NAME</label>
                                <input class="input is-light is-focused" style="width:20em;" type="text" name="editfname" value="{{ users.fname }}">
                                <hr>

                                <label class="label is-dark" style="font-size: 10px;">LAST NAME</label>
                                <input class="input is-light is-focused" style="width:20em;" type="text" name="editlname" value="{{ users.lname }}">
                                <hr>

                                <div class="columns">
                                    <div class="column">
                                        <label class="label is-dark" style="font-size: 10px;">GENDER</label>
                                        <div class="select is-light">
                                            <select name="editgender" value="{{ users.gender }}">
                                                <option> {{ users.gender }} </option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Fluid</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <label class="label is-dark" style="font-size: 10px;">BIRTHDATE</label>
                                        <input class="input is-light" style="width:15em;" type="date" name="editbdate" value="{{ users.bdate }}" placeholder="{{ users.bdate }}" required>
                                    </div>
                                    <div class="column"></div>
                                </div>
                                <hr>

                                <label class="label is-dark" style="font-size: 10px;">EMAIL ADDRESS</label>
                                <input class="input is-light is-focused" style="width:20em;" type="text" name="editemail" value="{{ users.email }}">
                                <hr>

                                <label class="label is-dark" style="font-size: 10px;">PASSWORD</label>
                                <input class="input is-light is-focused" style="width:20em;" type="text" name="editpword" value="{{ users.pword }}">

                        </div>
                    </section>
                        <footer class="modal-card-foot">
                            <button class="button1" type="submit" name="sumbit">UPDATE</button>
                            </form>
                        </footer>
                </div>
            </div>
        </div>

            <hr>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="subtitle is-5" style="margin-bottom: 40px;">
                                Commented Posts:
                            </p>
                            
                            {% if users.comments %}
                                
                                {% for comment in users.comments %}
                                
                                    <p class="title is-6">
                                        {{ comment.post.post }}
                                        <p class="subtitle is-6">
                                            {{ comment.comment }}
                                            <p class="help">
                                                {{ comment.commentDate }} <br>
                                            </p>
                                        </p>
                                    </p>
                                    <hr>
                                
                                {% endfor %}
                            {% else %}
                                <p class="subtitle is-6">
                                    No commented posts yet.
                                </p>
                            {% endif %}
                        </div>
                    </div>

                </div>
                
            </div>
        </div>

        <div class="column is-6">
            {% if newPost == 0 %}
            <div class="notification is-warning">
                <p class="subtitle" style="color: white;">No posts yet.</p>
            </div>
            {% else %}
                {% for userPost in newPost %}
                    
                        <article class="media">
                            <div class="card">
                                <div class="card-content">

                                    <div class="columns">
                                        <div class="column is-11">
                                            <p class="subtitle">
                                                {{ userPost.post }}<br>
                                            </p>
                                        </div>
                                        {% if not view %}
                                        <div class="column media-right">
                                            <a href="/delete_post/{{ userPost.id }}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                    {{ userPost.filmCam }} , {{ userPost.filmRoll }}<br>
                                    <time datetime="1-1-2016">{{ userPost.postDate }}</time>
                                        <a class="is-primary is-large modal-button" data-target="{{ userPost.id }}">
                                            <img src='/{{ userPost.imagepath }}'><br>
                                        </a><br>

                                        <div id="{{ userPost.id }}" class="modal">
                                            <div class="modal-background"></div>
                                            <div class="modal-content">
                                            <p class="image">
                                                <img src="/{{ userPost.imagepath }}" alt="{{ userPost.post }}">
                                            </p>
                                            </div>
                                            <button class="modal-close is-large" aria-label="close"></button>
                                        </div>
                                        {% if userPost.comments %}
                                            <hr>
                                            Comments
                                            {% for comment in userPost.comments %}
                                                <div class="columns">
                                                    <div class="column is-2">
                                                        <p class="image is-48x48 media-right">
                                                            <br>
                                                            {% if users.profile_picture %}    
                                                            <img src="/{{ comment.user.profile_picture.picpath }}" alt="Avatar">
                                                            {% else %}
                                                            <img src="https://bulma.io/images/placeholders/256x256.png">
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="column media-right">
                                                        <br>{{ comment.comment }}<br><small>{{ comment.commentDate }}</small>
                                                    </div>
                                                    {% if not view %}
                                                        
                                                        <div class="column media-right is-2"><br>
                                                            <a href="/delete_commentPost/{{ comment.id }}">
                                                                <i class="fa fa-trash" aria-hidden="true" ></i>
                                                            </a>
                                                        </div>
                                                        
                                                    {% else %}
                                                        
                                                        {% if users.id == userPost.reply.user_id %}
                                                            <div class="column media-right is-2"><br>
                                                                <a href="/delete_commentPost/{{ users.user_comment.id }}">
                                                                    <i class="fa fa-trash" aria-hidden="true" ></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            No comments yet.
                                        {% endif %}
                                </div>
                        </article>
                    
                {% endfor %}
            {% endif %}
        </div>

        <div class="column is-3">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-capitalized">
                    About {{ users.fname }} {{ users.lname }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        
                            {{ new.description }}
                        <hr>
                        <label class="label is-dark" style="font-size: 10px;">ALL TIME FILM CAMERA</label><br>
                        
                            {{ new.favecam }}
                        <hr>
                        <label class="label is-dark" style="font-size: 10px;">FAVORITE FILM ROLL</label><br>
                            {{ new.faveroll }}
                        <hr>
                        <label class="label is-dark" style="font-size: 10px;">SHOOTS</label><br>
                            {{ new.favesubject }}
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</div>
{% endblock %}