{% extends "index.html" %}
{% block title %} - RESET PASSWORD{% endblock %}

{% block content %}

<script>
    'use strict';
        document.addEventListener('DOMContentLoaded', function () {
        // Modals
        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-close, .delete, .modal-card-foot .button');

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
                var target = $el.dataset.target;
                var $target = document.getElementById(target);
                rootEl.classList.add('is-clipped');
                $target.classList.add('is-active');
            });
            });
        }
        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
                closeModals();
            });
            });
        }
        document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
            closeModals();
            }
        });
        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
            });
        }
        // Functions
        function getAll(selector) {
            return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }
    });
</script>

<div class="columns is-mobile is-centered" style="margin-top: 50px;">
        <div class="column is-half-desktop">
        <div id="content">
            <section class="hero">
                <div class="hero-body field">
                    <div class="columns">
                        <div class="column">
                                <form method="POST" action="/resetpassword" style="width: 250px;">
                                    <h1 class="font1" style="font-size: 25px; margin-bottom: 10px;">RESET PASSWORD</h1>
                                    <div class="control">
                                        <input class="input is-light is-focused" style="width:20em;" type="email" name="email" placeholder="Enter email address" required>
                                    </div><br>
                                    <div class="control">
                                        <input class="input is-light is-focused" style="width:20em;" type="text" name="pword" placeholder="Current password" required>
                                    </div>

                                {% if test == 2 %}
                                    <div class="modal is-active">
                                        <div class="modal-background">
                                            <div class="modal-card" style="margin-top: 140px;">
                                                <header class="modal-card-head">
                                                    <p class="modal-card-title">Change Password</p>
                                                    <button class="delete" aria-label="close"></button>
                                                </header>
                                                <section class="modal-card-body">
                                                    <div class="content">
                                                        <form method="POST" action="/">

                                                            <label class="label is-dark" style="font-size: 10px;">CURRENT PASSWORD</label>
                                                            <input class="input is-light is-focused" style="width:20em;" type="text" name="oldpword" value="{{ pword }}">
                                                            <hr>
                                                            
                                                            <label class="label is-dark" style="font-size: 10px;">NEW PASSWORD</label>
                                                            <input class="input is-light is-focused" style="width:20em;" type="text" name="newpword">
                                                            
                                                    </div>
                                                </section>
                                                    <footer class="modal-card-foot">
                                                        <button class="button1" type="submit" name="submit">UPDATE</button>
                                                        </form>
                                                        <!-- <button class="button1">CANCEL</button> -->
                                                    </footer>
                                            </div>
                                        </div>
                                    </div>

                                {% elif test == 3 %}
                                    <p class="help is-light" style="padding-top: 10px;">Email address and password doesn't match. Please try again.</p>
                                {% endif %}
    
                                <div class="control">  
                                    <button class="button1">SUBMIT</button>
                                </div>
                                <hr/>
                            </form><br>
                        </div>
                        <div class="column">
                            <div class="tile is-parent">
                                <article class="tile is-child notification" style="background-color: #d29d62;">
                                    <p class="font1" style="font-size: 30px; padding: 0;">LONG LIVE</p>
                                    <span class="font1" style="font-size: 50px;"> FILM </span>
                                    <p class="subtitle font1">LOAD. SHOOT. REPEAT.</p>
                                    <div class="content">
                                        A way of shooting and lifestyle.
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
        </div>
    </div>
    </div>
{% endblock %}