{% extends "index.html" %}
{% block title %} - RESET PASSWORD{% endblock %}

{% block content %}

<div class="columns is-mobile is-centered" style="margin-top: 50px;">
        <div class="column is-half-desktop">
        <div id="content">
            <section class="hero">
                <div class="hero-body field">
                    <div class="columns">
                        <div class="column">
                                <form method="POST" action="/resetpassword" style="width: 250px;">
                                    <h1 class="font1" style="font-size: 25px; margin-bottom: 10px;">RESET PASSWORD</h1>
                                    <div class="control">
                                        <input class="input is-light is-focused" style="width:20em;" type="email" name="email" placeholder="Enter email address" required>
                                    </div>

                                    {% if test == 3 %}
                                        <p class="help is-light" style="padding-top: 10px;">Email address doesn't exist. Please try again.</p>
                                    {% endif %}
                                    <br>
                                    <div class="control">
                                        <input class="input is-light is-focused" style="width:20em;" type="text" name="newpword" placeholder="New password" required>
                                    </div><br>
                                    <div class="control">
                                        <input class="input is-light is-focused" style="width:20em;" type="text" name="confpword" placeholder="Retype new password" required>
                                    </div>

                                    {% if check == 2 %}
                                        <p class="help is-light" style="padding-top: 10px;">Passwords didn't matched. Kindly double check and try again.</p>
                                    {% endif %}
                                    <br>
                                    <div class="control">  
                                        <button class="button1">SUBMIT</button>
                                    </div>
                                <hr/>
                            </form><br>
                        </div>
                        <div class="column">
                            <div class="tile is-parent">
                                <article class="tile is-child notification" style="background-color: #d29d62;">
                                    <p class="font1" style="font-size: 30px; padding: 0;">LONG LIVE</p>
                                    <span class="font1" style="font-size: 50px;"> FILM </span>
                                    <p class="subtitle font1">LOAD. SHOOT. REPEAT.</p>
                                    <div class="content">
                                        A way of shooting and lifestyle.
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
        </div>
    </div>
    </div>
{% endblock %}